APP_URL=http://localhost:3333
NODE_ENV=development

# Auth

APP_SECRET=ce01095e04bfb96f727fffbfd5f4ec9d

# Database

DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

# Mongo

MONGO_URL=mongodb://192.168.99.100:27017/gobarber

# Redis

REDIS_HOST=192.168.99.100
REDIS_PORT=6379

# Mail

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=
MAIL_PASS=

# Sentry

SENTRY_DSN=https://cfd2ab3234b34e57968baa2241438054@sentry.io/1545597
